@import "../style.css";

div.left_container {
	clear: left;
	width: 60%;
}

div.full_container {
	clear: both;
	width: 100%;
}

div.right_float_container {
	clear: right;
	float: right;
	width: 35%;
}

div.knobs_action_container {
	clear: both;
	float: right;
	width: 35%;
}
div.knob_action {
	margin-bottom: 2px;
	padding-right: 4px;
	font-size: 100%;
	text-align: right;
	background: #404040;
}
div.knob_action div.knob_title {
	float: left;
	width: 40%;
	text-align: left;
	margin: 0.2em;
	font-size: 120%;
	font-weight: bold;
}
div.knob_action img {
	height: 37px;
	margin-left: 4px;
	margin-bottom: 1px;
	margin-top: 1px;
	vertical-align: middle;
}
div.knob_action_1 {
	border-right: 10px solid #C0D030;
}
div.knob_action_2 {
	border-right: 10px solid #D030C0;
}
div.knob_action_3 {
	border-right: 10px solid #30A0D0;
}
div.knob_action_4 {
	border-right: 10px solid #40D030;
}
div.knob_action div.rotate {
	background-image: url("icons/white_icon_action_knob_rotate.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 32px;
	padding-top: 6px;
	padding-right: 41px;
}
div.knob_action div.short_press {
	background-image: url("icons/white_icon_action_short_push.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 32px;
	padding-top: 6px;
	padding-right: 41px;
}
div.knob_action div.bold_press {
	background-image: url("icons/white_icon_action_bold_push.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 32px;
	padding-top: 6px;
	padding-right: 41px;
}

