BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
PointerAlignment: Left
AllowShortEnumsOnASingleLine: false

AlignTrailingComments: true
ReflowComments: false  # Prevents automatic reflowing of comment text
