@import "../style.css";

div.left_container {
	clear: left;
	width: 65%;
}

div.full_container {
	clear: both;
	width: 100%;
}

div.right_float_container {
	clear: right;
	float: right;
	width: 30%;
}

div.knobs_action_container_left {
	clear: left;
	float: left;
	width: 49%;
	margin-bottom: 1em;
}

div.knobs_action_container_right {
	clear: right;
	float: right;
	width: 49%;
	margin-bottom: 1em;
}

div.knob_action {
	margin-bottom: 6px;
	padding-bottom: 4px;
	font-size: 100%;
	background: #404040;
}

div.knob_action div.knob_title {
	width: 30%;
	margin: 0.2em;
	font-size: 120%;
	font-weight: bold;
	border: 1px red;
}

div.knobs_action_container_left div.knob_action {
	padding-left: 4px;
	text-align: left;
}

div.knobs_action_container_left div.knob_action div.knob_title {
	float: right;
	text-align: right;
}

div.knobs_action_container_right div.knob_action {
	padding-right: 4px;
	text-align: right;
}

div.knobs_action_container_right div.knob_action div.knob_title {
	float: left;
	text-align: left;
}

div.knob_action img {
	height: 46px;
	margin-bottom: 1px;
	margin-top: 1px;
	vertical-align: middle;
}

div.knobs_action_container_left div.knob_action img {
	margin-right: 6px;
}

div.knobs_action_container_right div.knob_action img {
	margin-left: 6px;
}

div.knob_action_1 {
	border-left: 10px solid #C0D030;
}
div.knob_action_2 {
	border-left: 10px solid #D030C0;
}
div.knob_action_3 {
	border-right: 10px solid #30A0D0;
}
div.knob_action_4 {
	border-right: 10px solid #40D030;
}

div.knob_action div.action {
	background-repeat: no-repeat;
	height: 38px;
	padding-top: 11px;
}
div.knob_action div.rotate {
	background-image: url("icons/white_icon_action_knob_rotate.png");
}
div.knob_action div.short_press {
	background-image: url("icons/white_icon_action_short_push.png");
}
div.knob_action div.bold_press {
	background-image: url("icons/white_icon_action_bold_push.png");
}
div.knob_action_1 div.action,
div.knob_action_2 div.action {
	background-position: left;
	padding-left: 46px;
}
div.knob_action_3 div.action,
div.knob_action_4 div.action {
	background-position: right;
	padding-right: 46px;
}
