body {
	background: #000000;
	color: #ffffff;
	font-size: 150%;
	margin-bottom: 2em;
}

a {
	color: #8080ff;
	text-decoration: none;
}

header.global_header {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em;
	padding-bottom: 0.2em;
	background: #C0C0C0;
}

header.global_header a {
	font-size: 120%;
	font-weight: bold;
	color: #0000C0;
}

ul.index li a {
	font-size: 110%;
}

title {
	color: #ffffff;
	font-size: 180%;
}

h1 {
	color: #ffffff;
	font-size: 180%;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

h2 {
	color: #ffffff;
	font-size: 150%;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

ul {
	margin-left: 0.3em;
	padding-left: 0px;
}
li {
	margin-left: 0px;
	padding-left: 0.5em;
}

img.full {
	width: 100%;
}

.note-block {
	margin: 1em auto;
	padding: 1em 1em;
	background-color: #9020c0;
	border-left: 0.3em solid #aaaaaa;
}

div.clear {
	clear: both;
}
