@import "./style.css";

div.details_container {
	margin-right: 5%;
	margin-left: 5%;
}

div.details_container img.icon {
	float:right;
	width:35%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 1%;
}

div.details_container div.author,
div.details_container div.license {
	font-size: 110%;
}

div.details_container div.engine_path {
	font-size: 120%;
	margin-bottom: 0.5em;
}

div.details_container div.quality,
div.details_container div.complexity {
	font-size: 120%;
}

div.details_container div.quality span.stars,
div.details_container div.complexity span.stars {
	font-size: 120%;
	color: #F00000;
}

div.details_container p.description {
}
