body.help_ui {
	background: #000000;
	color: #ffffff;
	font-size: 150%;
	margin-bottom: 2em;
}

.help_ui a {
	color: #8080ff;
	text-decoration: none;
}

header.global_header {
	margin-top: 0.2em;
	margin-bottom: 0;
	padding: 0.4em;
	padding-bottom: 0.2em;
	background: #C0C0C0;
}

header.global_header a {
	font-size: 90%;
	font-weight: bold;
	color: #0000C0;
}

.help_ui ul.index li a {
	font-size: 110%;
}

.help_ui title {
	color: #ffffff;
	font-size: 180%;
}

.help_ui h1 {
	color: #ffffff;
	font-size: 180%;
	margin-top: 0.6em;
	margin-bottom: 0em;
}

.help_ui h2 {
	color: #ffffff;
	font-size: 150%;
	margin-top: 0.6em;
	margin-bottom: 0em;
}

.help_ui h3 {
	color: #ffffff;
	font-size: 130%;
	margin-top: 0.6em;
	margin-bottom: 0em;
}

.help_ui ul {
	margin-left: 0.3em;
	padding-left: 0px;
}
.help_ui li {
	margin-left: 0px;
	padding-left: 0.5em;
}

.help_ui img.full {
	width: 100%;
}

.help_ui .note-block {
	margin: 1em auto;
	padding: 1em 1em;
	background-color: #9020c0;
	border-left: 0.3em solid #aaaaaa;
}

.help_ui div.clear {
	clear: both;
}

div.knob_action {
	color: #ffffff;
}
